.DS_Store
.dart_tool/
.vscode/

.packages
.pub/
coverage

build/
ios/.generated/
ios/Flutter/Generated.xcconfig
ios/Runner/GeneratedPluginRegistrant.*

.idea/
flutter_calendar_carousel.iml
flutter_export_environment.sh